*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
   
    
}
.content{
    width: 450px;
    height: 250px;
    background-color: rgb(33, 32, 32);
    margin: 3% 5%;
    color: white;
    border-radius: 5px;
}

.nav1{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.content > .nav1 > h6{
    font-weight: lighter;
    color: rgb(96, 92, 92);
}
.hading{
    padding: 30px 20px;
    font-size: 20px;
    
}
.hading > h1{
    font-size: 45px;
    font-weight: 500;
}
.hading > p {
    
    padding: 3px 10px;
    
    font-size: 10px;
}
.footer{
    border-top: 1px solid rgb(104, 100, 100);
    display: flex;
   /* padding-top:117px ; */
   padding: 12px 20px;
    justify-content: space-between;
    color: rgb(96, 92, 92);
}
/* ========================content2============= */

.content2{
    margin-left: 5%;
    width: 88%;
    height: 250px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.content2-left{
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
     padding: 0 10px;
    justify-content: space-evenly;
}
.nav2{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}
 .nav2 > h6{
    font-weight: lighter;
    color: rgb(96, 92, 92);
}
.hading2{
    padding: 30px 20px;
    font-size: 20px;
    display: flex;
    gap: 100px;
}
.hading2 > h1{
    font-size: 45px;
    font-weight: 500;
    padding-top: 10px;
}
.hading2 > p {
    padding: 3px 10px;
   font-size: 18px;
}
.footer2{
    border-top: 1px solid rgb(104, 100, 100);
    display: flex;
   /* padding-top:117px ; */
   padding: 12px 20px;
    justify-content: space-between;
    color: rgb(96, 92, 92);
}

.content2-right{
    width: 50%;
   
    height: 100%;
 
    display: flex;
    flex-direction: column;
     padding: 0 10px;
    justify-content: space-evenly;
}

